@page "/customer"
@using BankBlazor.Client.ViewModel
@using Newtonsoft.Json
@inject HttpClient HttpClient

<h3>Customer</h3>
@if (CustomerViewModel == null)
{
    <p>Loading...</p>
}
else
{
    <div class="text-center mb-5">
        <h3>@CustomerViewModel.Givenname @CustomerViewModel.Surname</h3>
    </div>

    <div class="customer-grid">
        @foreach (var account in CustomerViewModel.Accounts)
        {
            <div class="customer-card">
                <h3>Account ID: @account.AccountId</h3>
                <p><strong>Balance:</strong> @account.Balance.ToString("C")</p>
                <p><strong>Frequency:</strong> @account.Frequency</p>
                <p><strong>Created:</strong> @account.Created.ToShortDateString()</p>
            </div>
        }
    </div>
}

<div class="customer-id-form">
    <h2>Find Customer</h2>
    <div class="input-group">
        <input type="number" @bind="customerId" placeholder="Enter Customer ID" />
        <button @onclick="GetCustomerInfo">Search</button>
    </div>
</div>


@code {
    public CustomerViewModel? CustomerViewModel { get; set; }
    public int customerId;

    private async Task GetCustomerInfo()
    {
        if (customerId > 0)
        {

            try
            {
                var request = new HttpRequestMessage(HttpMethod.Get, $"https://localhost:7249/api/customer/{customerId}/accounts");
                using (var response = await HttpClient.SendAsync(request))
                {
                    response.EnsureSuccessStatusCode();
                    var json = await response.Content.ReadAsStringAsync();
                    CustomerViewModel = JsonConvert.DeserializeObject<CustomerViewModel>(json);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine("Fel vid hämtning av kunddata: " + ex.Message);
            }
        }
		else
		{
			Console.WriteLine("Ingen kund vald.");
		}
    }
}